body {
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* video,
img{
    max-width: 100%;
    height:auto; 
} */


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}

.item {
    display: flex;
    background-color: #e7e7e7;
    object-fit: cover;

}

.item:hover {
    background-color: #e7e7e7;
}


.itemlarge {
    grid-column: 1/3;
    justify-self: stretch;
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 5px;
    border-radius: 25px;
}

.header {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: right; 
    align-items: baseline;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size:large;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s ease-out;
}

.nav a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.nav a.current {
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

.nav a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
    transition: 0.2s ease-out;
}

.grid a {
    display: grid;
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:x-large;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 10px;
    transition: 0.1s ease-out; 
    width:100%;
    height: 400px;
}

.grid a img,
.grid a video{
    object-fit: cover;
    width:100%;
    height: 100%;
    display: block;
}


.grid a img,
.grid a span {
    grid-column: 1/-1;
    grid-row: 1/-1;

}

.grid a span {
    opacity: 0;
    filter: blur(10px);
    transition: 0.1s ease-out;
}

.grid a:hover span {
    opacity: 1;
    filter: blur(0px);
    transition: 0.1s ease-out;
}

.grid a:hover img{
    opacity: 0.5;
    filter: blur(10px);
    transition: 0.1s ease-out;
}

.grid a:hover video{
    opacity: 0.5;
    filter: blur(10px);
    transition: 0.1s ease-out;
}

.nav {
    margin: 10px
}

h1 {
    font-family: "owners-xxwide", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "owners-xxwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
}

p {
    font-family: "owners-text", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    display: block;
    position: fixed;
    width: 200px;
    height: 200px;
    left:3%;
    top: -5.5%;

}
/* tournitourni */
.spin {
display: block;
position: fixed;
width: 50px;
height: 50px;

-webkit-animation: spin 10s linear infinite;
-moz-animation: spin 10s linear infinite;
animation: spin 10s linear infinite;
}

@-webkit-keyframes spin{
100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
    }
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
    }

/* SEULEMENT UN TEST POPUP*/

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: 500ms ease-out;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 25px;
	width: 75%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: grey;
}
.wrapper .content {
	max-height: 75%;
	overflow: auto;
}
/*form*/

.container {
	border-radius: 5px;
	background-color: #e7e7e7;
	padding: 20px 0;
}
form label {
	text-transform: uppercase;
	font-weight: 500;
	/* letter-spacing: 3px; */